* {
    font-family: Calibri, sans-serif;
    font-size: 20px;
}


#task1 {
    border: 2px solid black;
}

hr {
    border: 1px solid black;
}

.selected {
    background: yellow;
}

.table {
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 50%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    width: 100px;
    height: 50px;
    text-align: center;
}

.matrixes{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.matrix{
    width: 100%;
}

h1{
    text-align: center;
}

#trans-matrix table, #matrix-table table{
    width: 100%;
}